* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(240, 193, 227); 
}

.header {
    border-style: ridge; 
    border-color: rgb(99, 54, 82);
    background-color: rgb(255, 234, 249);
    text-align: center;
}

.header h1 {
    font-family: fantasy;
    font-size: x-large;
}

.header ol {
    list-style-type: none;
    float: right; 
}

.header ol li {
    display: inline-block;
}

.avatar img {
    max-height: 600px;
    max-width: 600px;
    margin: 100px;
    float: left;
    margin-right: 100px;  
}

.about {
    text-align: center;
    float: right; 
    margin: 150px;
    font-size: xx-large; 
}

.work {
    text-align: center;
    display: inline-block; 
    margin: 100px; 
}

.work img {
    width: 300px;
    height: 180px;
}

.contact {
    text-align: center;
    margin: 100px; 
}

.contact h1 {
    text-align: center;
}

.contact ol {
    list-style-type: none;
}

.contact ol li {
    display: inline-block;
}

.footer {
    text-align: center;
    font-style: italic; 
}