* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(240, 193, 227); 
}

.header {
    margin: 10px; 
    border-style: ridge; 
    border-color: rgb(99, 54, 82);
    background-color: rgb(255, 234, 249);
    text-align: center;
}

.header h1 {
    font-family: fantasy;
    font-size: xx-large;
}

.header ol {
    list-style-type: none;
    float: right; 
}

.header ol li {
    display: inline-block;
    margin: 10px; 
}

.avatar img {
    margin: 100px; 
    max-height: 500px;
    max-width: 500px;
    float: left;  
}

.about {
    margin: 175px;
    text-align: center;
    font-size: xx-large;
}

.work {
    text-align: center;
}

.work img {
    margin: auto;
    display: inline-block;  
    width: 300px;
    height: 180px;
}

.contact {
    margin: 100px;
    text-align: center;
}

.contact h1 {
    text-align: center;
}

.contact ol {
    list-style-type: none;
}

.contact ol li {
    display: inline-block;
    text-align: center;
}

#oblique {
    font-style: oblique;
}

.footer {
    margin: 10px; 
    text-align: center;
    font-style: oblique;
    background-color: rgb(255, 234, 249);
    border-style: ridge; 
    border-color: rgb(99, 54, 82);
}